
.message {
    margin: 20px 10px;
    display: flex;
    align-items: end;

}

.avatar {
    width: 60px;
    z-index: 2;
}

.bubble {
    position: relative;
    padding: 5px 5px;
    margin-left: 10px;
    width: 200px;
    min-height: 60px;
    background: rgba(13, 175, 186, .4);
    border-radius: 7px 7px 7px 0;
}

.bubble::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: rgba(13, 175, 186, .4);
    bottom: 0;
    left: -20px;
    z-index: -1;
}

.bubble::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 0 0 20px 0;
    background: #ffffff;
    bottom: 0;
    left: -20px;

}

.name {
    font-size: 20px;
    color: #0d5e63;
}

.text {
    margin-left: 10px;
    font-size: 15px;
}

.time {
    text-align: end;
    color: #0d5e63;
}

.pnull {
    padding-inline-start: 0px;
}
