.input {
    border: 1px solid green;
}

.inputError {
    border: 1px solid red;
}

.hw3btn {
    margin: 0 8px;
    width: 50px;
    height: 20px;
    background-color: yellow;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
    transition: 0.3s all;
}

.hw3btn:hover {
    transform: scale(105%);

}